.errorMsg{
	border: 1px dotted red;
}

#unameMsg {
	display:none;
	color:red;
	background-color: #ffcccc;
}

#pwdMsgOne {
	display:none;
	color:red;
	background-color: #ffcccc;
}

#pwdMsgTwo {
  display:none;
  color:red;
  background-color: #ffcccc;
}