<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="oppgave13-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{name::input}}" />
    <h1>Hello {{ name }}</h1>
    <select id="type" on-change="typeChanged">
      <option value="length">Lengde</option>
      <option value="temp">Temperatur</option>
    </select>
    <select id="conversion" on-change="convChanged">
      <option value='km2m'>km til miles</option>
      <option value='m2km'>miles til km</option>
    </select><br>
    <input type="number" value="{{origin::input}}"/> -> <input type="text" value="[[calculated]]"/>
  </template>

  <script>
    Polymer({

      is: 'oppgave13-app',
      
      /**
       * Denne funksjonen vil initialiseres med en gang.
       * Vi setter en default verdi for navnet = Øyvind
       */ 
      ready: function () {
        this.name = "Øivind"
      },

      properties: {
        calculated: {
          type: String,
          computed: 'calculate(origin)'
        }
      },
      calculate: function (origin) {
      },
      typeChanged: function (e) {
      },
      convChanged: function (e) {
      }
    });
  </script>
</dom-module>
